.search {
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 0 70px 83px;
}

.search__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 76px;
  position: relative;
}

.search__field {
  background: none;
  border: 1.5px solid #aaa;
  border-radius: 50px;
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  width: 81.7%;
  box-sizing: border-box;
  padding: 15px 22px;
}

.search__button {
  box-sizing: border-box;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  color: white;
  border: none;
  background-color: #4285f4;
  border-radius: 48px;
  position: absolute;
  right: 18.9%;
  padding: 0;
  width: 58px;
  height: 34px;
}

@media screen and (max-width: 1050px) {
  .search {
    padding: 0 30px 57px;
  }

  .search__form {
    justify-content: center;
    flex-direction: column;
    margin-top: 53px;
  }

  .search__field {
    width: 100%;
    padding: 15px 17px;
    margin-bottom: 37px;
  }

  .search__button {
    right: 8px;
    top: 8px;
  }
}

@media screen and (max-width: 500px) {
  .search {
    padding: 0 10px 44px;
  }

  .search__field {
    font-size: 11px;
    padding: 15px 15px;
    margin-bottom: 44px;
  }
}