.about-project {
  max-width: 1280px;
  padding: 110px 70px;
}

.about-project__title {
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  width: 100%;
  border-bottom: 1px solid #dadada;
  padding-bottom: 23px;
}

.about-project__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about-project__time-bar {
  display: grid;
  grid-template-columns: 1fr 4fr;
}